.sideItem.active {
  background-color: #b9292f;
  color: white;
  cursor: pointer;
  /* border: 1px solid black; */
}

.sideItem.active:hover {
  background-color: #b9292f;
}

.sideItem.active > div .chakra-text {
  /* background-color: lime; */
}

.sideItem {
  font-size: 30px;
}
